.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #450000c0;
  color: white;
  border: 4px solid #e89805;
  border-radius: 4px;
  box-shadow: 0 20px 30px rgba(233, 96, 4, 0.678);
}

.fighter-preview___img {
  width: 100%;
  height: 350px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}
